<!DOCTYPE doctype html>
<html ng-app="">
    <head>
        <meta charset="utf-8">
            <script src="http://code.angularjs.org/angular-1.0.1.min.js">
            </script>
            <script>
                /*function greetName($scope){
                $scope.name = 'xiaoxin';
            }

            function listName($scope){
                $scope.names = ['xiaoxin','xiaoming','xiaowu','xiaoqiang'];
            }*/


            /*function myCtrl($scope){
                $scope.action = function(){
                    $scope.name = 'OK';
                }

                $scope.name = 'xiaoxin';
            }*/

            /*function Ctrl($scope) {
                $scope.names = ['igor', 'misko', 'vojta', 'chrome'];
            }*/

            /*function Ctrl($scope) {
                $scope.person1 = 'Igor';
                $scope.person2 = 'Misko';
                $scope.personCount = 3;
            }*/

            /*function Ctrl($scope) {
                $scope.items = ['settings', 'home', 'other'];
                $scope.selection = $scope.items[0];
            }*/

            /*function Ctrl($scope) {
                $scope.names = ['pizza', 'unicorns', 'robots'];
                $scope.my = {
                    favorite: 'unicorns'
                };
            }*/

            function MyCntrl($scope) {
                $scope.colors = [{
                    name: 'black',
                    shade: 'dark'
                }, {
                    name: 'white',
                    shade: 'light'
                }, {
                    name: 'red',
                    shade: 'dark'
                }, {
                    name: 'blue',
                    shade: 'dark'
                }, {
                    name: 'yellow',
                    shade: 'light'
                }];
                $scope.myColor = $scope.colors[2]; // red
            }
            </script>
        </meta>
    </head>
    <body>
        <!-- Hello {{'World'}}!

        I can : {{1 + 2}}! -->
        <!-- <p ng-init="name='xiaoxin'">你好！{{name}}</p> -->
        <!-- <input type="text" ng-model="name">
        <p>欢迎，{{name}}</p> -->
        <!-- <p ng-controller="greetName">Hello,{{name}}!</p>
        <div ng-controller="listName">
            <ol>
                <li ng-repeat="name in names">{{name}}</li>
            </ol>
        </div> -->
        <!-- <div ng-controller="myCtrl">
            Hello,{{name}}!
            <button ng-click="action()">OK</button>
        </div> -->
        <!-- <div ng-init="list = ['Chrome,Safari,Firefox,IE,Opera']">
            <input type="text" ng-model="list" ng-list><br>
            <input type="text" ng-model="list" ng-list><br>
            <pre>
                
                list={{list}}
        
            </pre><br>
            <ol>
                <li ng-repeat="item in list">{{item}}</li>
            <ol>
        </div> -->
        <!-- <div contenteditable="true" ng-model="content">Edit Me!</div>
        <pre>model={{content}}</pre> -->
        <!-- <div ng-init="list = ['Chrome,Firefox,Safari,Opera,IE']">
            Number Fommatting : {{1234567890 | number}} <br>
            array filtering : <input type="text" ng-model="predicate">
            {{list | filter : predicate | json}}
        </div> -->
        <!-- <form name="myForm" ng-controller="Ctrl">
            List:
            <input name="namesInput" ng-list ng-model="names" required>
                <span class="error" ng-show="myForm.namesInput.$error.required">
                    Required!
                </span>
                <br>
                    <tt>
                        names = {{names}}
                    </tt>
                    <br/>
                    <tt>
                        myForm.namesInput.$valid = {{myForm.namesInput.$valid}}
                    </tt>
                    <br/>
                    <tt>
                        myForm.namesInput.$error = {{myForm.namesInput.$error}}
                    </tt>
                    <br/>
                    <tt>
                        myForm.$valid = {{myForm.$valid}}
                    </tt>
                    <br/>
                    <tt>
                        myForm.$error.required = {{!!myForm.$error.required}}
                    </tt>
                    <br/>
                </br>
            </input>
        </form> -->
        <!-- Check me check multiple:
        <input ng-model="open" type="checkbox">
            <br/>
            <details id="details" ng-open="open">
                <summary>
                    Show/Hide me
                </summary>
                <p>All pages and graphics on this web site are the property of W3School.</p>
            </details>
        </input> -->
        <!-- Check me to make text readonly:
        <input ng-model="checked" type="checkbox">
            <br/>
            <input ng-readonly="checked" type="text" value="I'm Angular"/>
        </input> -->
        <!-- <div ng-init="friends = [
          {name:'John', age:25, gender:'boy'},
          {name:'Jessie', age:30, gender:'girl'},
          {name:'Johanna', age:28, gender:'girl'},
          {name:'Joy', age:15, gender:'girl'},
          {name:'Mary', age:28, gender:'girl'},
          {name:'Peter', age:95, gender:'boy'},
          {name:'Sebastian', age:50, gender:'boy'},
          {name:'Erika', age:27, gender:'girl'},
          {name:'Patrick', age:40, gender:'boy'},
          {name:'Samantha', age:60, gender:'girl'}
        ]">
            I have {{friends.length}} friends. They are:
            <input ng-model="q" placeholder="filter friends..." type="search"/>
            <ul class="example-animate-container">
                <li class="animate-repeat" ng-repeat="friend in friends | filter:q">
                    [{{$index + 1}}] {{friend.name}} who is {{friend.age}} years old.
                </li>
            </ul>
        </div> -->
        <!-- <input ng-click="myStyle={color:'red'}" type="button" value="set color">
            <input ng-click="myStyle={'background-color':'blue'}" type="button" value="set background">
                <input ng-click="myStyle=''" type="button" value="clear">
                    <br/>
                    <span ng-style="myStyle">
                        Sample Text
                    </span>
                    <pre>myStyle={{myStyle}}</pre>
                </input>
            </input>
        </input> -->
        <!-- <div ng-controller="Ctrl">
            <select ng-model="selection" ng-options="item for item in items">
            </select>
            <tt>
                selection={{selection}}
            </tt>
            <hr/>
            <div class="animate-switch-container" ng-switch="selection">
                <div class="animate-switch" ng-switch-when="settings">
                    Settings Div
                </div>
                <div class="animate-switch" ng-switch-when="home">
                    Home Span
                </div>
                <div class="animate-switch" ng-switch-default="">
                    default
                </div>
            </div>
        </div> -->
        <!-- <form ng-controller="Ctrl">
            <h2>
                Which is your favorite?
            </h2>
            <label ng-repeat="name in names">
                {{name}}
                <input id="{{name}}" name="favorite" ng-model="my.favorite" ng-value="name" type="radio">
                </input>
            </label>
            <div>
                You chose {{my.favorite}}
            </div>
        </form> -->
        <div ng-controller="MyCntrl">
            <ul>
                <li ng-repeat="color in colors">
                    Name:
                    <input ng-model="color.name">
                        [
                        <a href="" ng-click="colors.splice($index, 1)">
                            X
                        </a>
                        ]
                    </input>
                </li>
                <li>
                    [
                    <a href="" ng-click="colors.push({})">
                        add
                    </a>
                    ]
                </li>
            </ul>
            <hr/>
            Color (null not allowed):
            <select ng-model="myColor" ng-options="color.name for color in colors">
            </select>
            <br>
                Color (null allowed):
                <span class="nullable">
                    <select ng-model="myColor" ng-options="color.name for color in colors">
                        <option value="">
                            -- choose color --
                        </option>
                    </select>
                </span>
                <br/>
                Color grouped by shade:
                <select ng-model="myColor" ng-options="color.name group by color.shade for color in colors">
                </select>
                <br/>
                Select
                <a href="" ng-click="myColor = { name:'not in list', shade: 'other' }">
                    bogus
                </a>
                .
                <br>
                    <hr/>
                    Currently selected: {{ {selected_color:myColor}  }}
                    <div ng-style="{'background-color':myColor.name}" style="border:solid 1px black; height:20px">
                    </div>
                </br>
            </br>
        </div>
    </body>
</html>